@import "@aurelia-aire/core/styles/core.scss";


aire-header {
  display: contents;
  header {
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 16px;
  }
}
